.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:100px;
    margin-bottom: 20%;
  }
  
  .home-content {
    flex: 1;
    padding-right: 20px;
    max-width:35%;
  }
  
  .home-content h4 {
    font-size: 1.25rem;
    color: #888;
  }
  
  .home-content h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
  }
  
  .home-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .cta-button {
    background-color: #1D8751;
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .cta-button:hover {
    background-color: #155e00;
  }
  
  .home-image {
    flex: 1;
    display: flex;
    justify-content: center;
    position:absolute;
    left:45%; 
  }
  
  .home-image img {
    max-width: 100%;
    height: auto;
  }

  .slanted-bg {
    position: relative;
    width: 99%;
    background-color: #B0E6D9;
    border-radius: 45px; 
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.6) rotate(140deg);
    overflow: hidden;
    margin-left: 8%;
    
  }
  
  .hero-image-section {
    width: 80%;
    height: auto;
    padding:20px;
    transform: rotate(-140deg) scale(0.8);

  }
  @media(max-width:1080px){
    .home{
      padding: 50px;
    }
    .home-content h1{
      font-size: 2.75rem;
    } 
    .slanted-bg {
      width:130%;
    }
  }
  @media(max-width:950px){
    .home{
      padding:40px;   
    }
    .home-content h1{
      font-size: 2.5rem;
    }

  }
  @media (max-width: 850px) {
    .home {
        flex-direction: column;
        padding: 50px;
        margin-bottom: 1%;
    }

    .home-content {
        max-width: 100%;
        padding-right: 0;
        margin-bottom: 20px;
    }

    .home-image {
        position: static;
        width: 100%;
        left: 0;
        margin-top: 20px;
    }

    .slanted-bg {
        transform: none;
        width: 100%;
        border-radius: 0;
    }

    .hero-image-section {
        transform: none;
        width: 100%;
        padding: 0;
    }
}
  @media(max-width:768px){
    .home-content h1{
      font-size: 2rem;
    }
  }